<title>Scrypture :: {{ module_name }}</title>

<link rel="shortcut icon" href="/static/scrypture.ico" type="image/x-icon">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img height=48 width=48 src='/static/scrypture_logo.png'/></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      {{ make_navbar_links() }}
      <li><a href="/script_index">Index</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="/about">About</a></li>-->
        <li><a href="https://www.github.com/mosesschwartz/scrypture/blob/master/API_README.md">API</a></li>
        <li><a href="https://www.github.com/mosesschwartz/scrypture">GitHub</a></li>
      </ul>
    </div>
  </div>
</nav>

<br />
<br />
<br />


