{% extends "scrypture_base.html" %}
{% block content %}

<div class="container">
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<div class="jumbotron">

<h1>Why Scrypture?</h1>
Scrypture makes it easy to put Python scripts online. It's great for rapidly producing simple tools like a base64 encoder/decoder and deploying them online. It's handy 
intranet utilities
Scrypture solves many of the problems in a script-centric 

<h2>Motivation</h2>
We wrote Scrypture to solve our own problems, and then didn't finish the About page. FIXME!


</div>
</div>
<div class="col-md-1"></div>

{% endblock %}
